body{
    width:100%;
    text-align:center;
}


p{
    color:white;
    font-size: 100px;
}

div{
    display:grid;
}
.header{
    width:100%;
    background:red;
    height:200px;

}


.featured{
    background:green;
    height:400px;
}

.propertyListing{
    background:blue;
    height:300px;
}

.agentList{
    background:black;
    height:300px;
}

.contact{
    background:yellow;
    height:400px;
}

.chatbot{
    position:absolute;
    z-index: 1;
    bottom:0;
    right:0;
    margin-right:20px;
    margin-bottom:20px;
    padding:10px;
    background:white;
}

.chatbot::after{
    img:"close.jpg",
}

.chatbot>div{
    color:red;
    background:white;
}
.chatbot p{
    width:100%;
    background:white;
    font-size:12px;
    color:red;
}